.about-bg{
  background: var(--p4);
  max-width: 100vw;
}

.about-bg .about{
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.about-bg .about h2{
  font-weight: 700;
  font-size: 2rem;
  color: var(--t2);
  margin-bottom: 1rem;
}

.about-bg .about p{
  color: var(--t2);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.2;
  max-width: 750px;
  margin-bottom: 1rem;
}

@media(max-width: 768px){
  .about-bg .about{
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .about-bg .about h2{
    font-size: 1.375rem;
  }

  .about-bg .about p{
    font-size: 0.875rem;
    max-width: 704px;
  }
}