.experience{
  padding-top: 5.5rem;
  padding-bottom: 5.5rem;
}

.experience h2{
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.experience-content{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.625rem;
  margin-bottom: 4rem;
}

.reverse{
  flex-direction: row-reverse;
}

.experience-image img{
  width: 752px;
  height: 406px;
  transition: all .5s;
}

.experience-image img:hover{
  transform: translateY(-10px);
}

.experience-info h3{
  max-width: 248px;
  font-size: 1.375rem;
  line-height: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.experience-info p{
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.experience-buttons{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

@media(max-width: 768px){
  .experience h2{
    font-size: 1.375rem;
  }

  .experience-content{
    flex-direction: column;
  }

  .experience-image{
    width: 704px;
  }

  .experience-info{
    width: 690px;
    margin: 0 auto;
  }
}

@media(max-width: 500px){
  .experience-content{
    width: 100%;
  }

  .experience-image{
    width: 100%;
  }

  .experience-image img{
    height: 200px;
  }
}

@media(max-width: 360px){
  .experience-image{
    width: 296px;
  }

  .experience-image img{
    height: 144px;
  }

  .experience-info{
    width: 290px;
  }
}