:root{
  --p1: #F9FCD3;
  --p2: #CDF59B;
  --p3: #7EEC67;
  --p4: #35DF56;
  --p5: #29BD70;
  --p6: #1E9A7C;
  --p7: #157176;

  --s1: #D1D0D1;
  --s2: #939192;
  --s3: #565253;
  --s4: #181413;
  --s5: #141210;
  --s6: #100F0D;
  --s7: #0C0C09;

  --t1: #D5D5D5;
  --t2: #FFFFFF;
  --t3: #808080;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--background);
  font-family: 'Raleway', sans-serif;
  color: var(--s4);
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  display: block;
}

.container{
  max-width: 1136px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.button{
  display: inline-block;
  width: 116px;
  height: 50px;
  background: var(--p4);
  color: var(--t2);
  padding: 1rem;
  text-align: center;
}

.button-outline{
  display: inline-block;
  width: 116px;
  height: 50px;
  border: 1px solid var(--p4);
  color: var(--p4);
  background: transparent;
  padding: 1rem;
  text-align: center;
}

.button:hover{
  background: var(--p5);
}

.button-outline:hover{
  background-color: var(--p2);
}

@media(max-width: 768px){
  .container{
    max-width: 768px;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media(max-width: 360px){
  .container{
    max-width: 360px;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}