.skills{
  margin-bottom: 5.5rem;
}

.skills h2{
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

.skills .skills-items{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.skills .skills-items .skills-item{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 0.5rem;
  padding: 1rem;
  width: 176px;
  height: 174px;
  background: var(--t2);
}

.skills .skills-items .skills-item .skills-icon{
  /* width: 24px; */
  height: 30px;
}

.skills .skills-items .skills-item li h3{
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.125;
}

@media(max-width: 768px){
  .skills h2{
    font-size: 1.375rem;
    line-height: 1.125;
  }

  .skills .skills-items{
    flex-wrap: wrap;
    gap: 1rem;
  }

  .skills .skills-items .skills-item{
    width: 224px;
    height: 118px;
  }

  .skills .skills-items .skills-item li h3{
    font-size: 1rem;
  }
}

@media(max-width: 360px){
  .skills .skills-items .skills-item{
    width: 156px;
    height: 118px;
  }
}